
.movie-page-container {
    width:50%;
    min-width: 800px;
    margin: auto;   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}

.movie-details-poster-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.movie-details-genres-container{

}